.hide {
	display: none;
}

.show {
	display: block;
}

/*
 * #.# Help Block
 */
.wit-frm-help-block {
	font-size: 10px;
}

.wint-frm-error {
	color: red;
}

.wint-frm-success {
	color: green;
}